@font-face {
    font-family: 'Roboto';
    src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

* {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    background: url("img/bee-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
