.modal-window {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    width: 500px;
    height: 500px;
    margin: auto;
    background-image: radial-gradient(orange, darkorange);
}

.modal-window-text {
    text-align: center;
}

.modal-title {
    font-size: 24px;
    margin: 10px 0 15px 0;
}

.modal-content {
    margin: auto;
}

.modal-window-button {
    width: 100px;
    height: 50px;
    background: radial-gradient(yellow, orange);
    border-radius: 5px;
    border: 1px solid darkorange;
    cursor: pointer;
    margin: 0 20px 10px 20px;
}

.modal-window-button:disabled {
    pointer-events: none;
    background: rgba(204, 122, 0, 1);
    color: orange;
}

.modal-window-button:hover {
    background-color: rgba(179, 107, 0, 0.5);
    animation: shadow-pulse 1s infinite;
    box-shadow: 0 0 0 4em rgba(255, 255, 255, 0);
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(179, 107, 0, 1);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(179, 107, 0, 0);
    }
}
